{% extends 'management/layout.html' %}

{% load static common_tags %}

{% block breadcrumbs %}
    <div><a class="active" href="{% url 'management:pair:index' %}">Пары</a></div>
    <div>&nbsp;&nbsp;>&nbsp;&nbsp;</div>
    <div class="text-middle text-secondary">Создание / Изменение Пары</div>
{% endblock %}

{% block content %}
    <form method="post">{% csrf_token %}
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th colspan="2">{{ form.cammodel.label }}</th>
                    <th colspan="2">{{ form.operator.label }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="2">{{ form.cammodel|class:'selectize' }}</td>
                    <td colspan="2">{{ form.operator|class:'selectize' }}</td>
                </tr>
                </tbody>
            </table>
            {{ website_formset.management_form }}
            {% for form in website_formset %}
                <table class="table website-formset">
                    <thead>
                    <tr>
                        <th colspan="2">Сайты</th>
                        <th colspan="2">Адрес</th>
                    </tr>
                    </thead>
                    <tr>
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <td colspan="2">{{ form.website|class:'form-control' }}</td>
                        <td colspan="2">{{ form.url|class:'form-control' }}</td>
                        <td>{{ form.DELETE }}</td>
                    </tr>
                    <tr>
                        <th>Логин модели</th>
                        <th>Пароль модели</th>
                        <th>Логин оператора</th>
                        <th>Пароль оператора</th>
                    </tr>
                    <tr>
                        <td>{{ form.login|class:'form-control' }}</td>
                        <td>{{ form.password|class:'form-control' }}</td>
                        <td>{{ form.operator_login|class:'form-control' }}</td>
                        <td>{{ form.operator_password|class:'form-control' }}</td>
                    </tr>
                </table>
            {% endfor %}
            <div class="row my-5 justify-content-end">
                <div class="col-md-3">
                    <button type="submit" class="btn btn-block btn-info">Сохранить</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        $('.selectize').selectize();
        $('.website-formset').formset({
            addText: 'Добавить сайт',
            deleteText: 'Удалить',
            addCssClass: 'btn btn-info',
            deleteCssClass: 'btn btn-danger',
            prefix: 'form',
        });
    </script>
{% endblock %}
