{% extends 'management/layout.html' %}

{% load common_tags static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/gijgo.min.css' %}">
{% endblock %}

{% block breadcrumbs %}
    <div class="text-middle text-secondary">Статистика</div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row mb-3">
                <div class="col-12 pl-0">
                    <form action="" method="get">
                        <div class="row">
                            <div class="col-1 px-1">
                                <button name="prev_week" class="btn btn-info btn-block">
                                    <svg style="height: 1rem" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1011 1376q0 13-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23
                                                     10l50 50q10 10 10 23t-10 23l-393 393 393 393q10 10 10 23zm384 0q0 13-10 23l-50 50q-10 10-23
                                                     10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23t-10 23l-393 393 393 393q10 10 10 23z" fill="#fff"></path>
                                    </svg>
                                </button>
                            </div>
                            <div class="col-2 px-1"><input type="text" name="date_from" class="datepicker" value="{{ date_from }}"></div>
                            <div class="col-2 px-1"><input type="text" name="date_to" class="datepicker" value="{{ date_to }}"></div>
                            <div class="col-1 px-1">
                                <button name="next_week" class="btn btn-info btn-block">
                                    <svg style="height: 1rem" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M979 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10
                                                     23-10t23 10l466 466q10 10 10 23zm384 0q0 13-10 23l-466 466q-10 10-23
                                                     10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z" fill="#fff">
                                        </path>
                                    </svg>
                                </button>
                            </div>
                            <div class="col-3 px-1">{{ filter_form.website|class:'selectize' }}</div>
                            <div class="col-2 px-1">
                                <button class="btn btn-secondary" type="submit">Посчитать</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th>Имя Модели</th>
                    <th>Доля</th>
                    <th>Итог</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ cammodel_dict.cammodel_name }}</td>
                    <td>{{ cammodel_dict.amount }}</td>
                    <td>{{ cammodel_dict.total }}</td>
                </tr>
                <tr>
                    <th colspan="2">Название сайта</th>
                    <th>Сумма</th>
                </tr>
                {% if cammodel_dict.websites %}
                    {% for website in cammodel_dict.websites %}
                        <tr>
                            <td colspan="2">{{ website.name }}</td>
                            <td>{{ website.total }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                <tr>
                    <th>Имя Оператора</th>
                    <th>Доля</th>
                    <th>Итог</th>
                </tr>
                {% for data in data_list %}
                    <tr>
                        <td><a class="text-info" href="{% url 'management:accounting:operatorstatistics' data.operator_id %}">{{ data.operator_name }}</a></td>
                        <td>{{ data.amount }}</td>
                        <td>{{ data.total }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/gijgo.min.js' %}"></script>
    <script src="{% static 'js/messages.ru-ru.js' %}"></script>
    <script>
        $('.selectize').selectize();
        $('.datepicker').each(function (index) {
            $(this).attr('autocomplete', 'off');
            $(this).datepicker({
                uiLibrary: 'bootstrap4',
                format: 'yyyy-mm-dd',
                locale: 'ru-ru',
                showRightIcon: false,
                header: true,
            });
        });
    </script>
{% endblock %}