{% extends 'management/layout.html' %}

{% load common_tags %}

{% block breadcrumbs %}
    <div class="text-middle text-secondary">Операторы</div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-8">
            {% if filter_form %}
                <form action="" method="get">
                    <div class="row mb-3">
                        <div class="col-md-4">
                            {{ filter_form.city|class:'selectize' }}
                        </div>
                        <div class="col-md-7">
                            {{ filter_form.name|class:'form-control' }}
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-info" type="submit">Поиск</button>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
        <div class="col-4">
            <div class="container">
                {% if request.user.is_superuser or request.user.is_staff %}
                    <a href="{% url 'management:operator:create' %}"
                       class="btn btn-success btn-block">Добавить &nbsp;Оператора
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if operators and operators|length > 0 %}
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th>{% verbose_name operators.0 'name' %}</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for operator in operators %}
                        <tr>
                            {% if request.user.is_superuser or request.user.is_staff %}
                                {% if operator.image %}
                                    <td class="py-1"><a href="{% url 'management:operator:detail' operator.id %}"><img src="{{ operator.image.url }}"
                                                                                                                       style="width: 4rem; height: 4rem; border-radius: 2rem; overflow: hidden; object-fit: cover; position: center"></a>
                                    </td>
                                {% else %}
                                    <td class="py-1">
                                        <svg style="width: 4rem; height: 4rem; border-radius: 2rem; overflow: hidden;" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1523 1339q-22-155-87.5-257.5t-184.5-118.5q-67 74-159.5 115.5t-195.5 41.5-195.5-41.5-159.5-115.5q-119
                                                     16-184.5 118.5t-87.5 257.5q106 150 271 237.5t356 87.5 356-87.5 271-237.5zm-243-699q0-159-112.5-271.5t-271.5-112.5-271.5
                                                     112.5-112.5 271.5 112.5 271.5 271.5 112.5 271.5-112.5 112.5-271.5zm512 256q0 182-71 347.5t-190.5 286-285.5 191.5-349
                                                     71q-182 0-348-71t-286-191-191-286-71-348 71-348 191-286 286-191 348-71 348 71 286 191 191 286 71 348z" fill="#555"></path>
                                        </svg>
                                    </td>
                                {% endif %}
                                <td class="col align-middle"><a class="text-info" href="{% url 'management:operator:detail' operator.id %}?{{ request.GET.urlencode }}">{{ operator.name }}</a></td>
                                {% if operator.cammodel %}
                                    <td class="col align-middle"><a class="btn {% if operator.cammodel.filled_today %}btn-secondary{% else %}btn-warning{% endif %}"
                                                                    href="{% url 'management:accounting:createfromoperator' operator.id %}">Ввести Итог</a></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                {% if request.user.is_superuser or request.user.is_staff %}
                                    <td class="col align-middle"><a class="btn btn-info" href="{% url 'management:accounting:operatorstatistics' operator.id %}">Статистика</a></td>
                                    <td class="col align-middle"><a class="btn btn-success" href="{% url 'management:operator:edit' operator.id %}?{{ request.GET.urlencode }}">Редактировать</a></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                {% if request.user.is_superuser %}
                                    <td class="align-middle"><a class="btn btn-danger" href="{% url 'management:operator:remove' operator.id %}?{{ request.GET.urlencode }}">Удалить</a></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if operators.paginator.num_pages > 1 %}
                    <div class="col-12 mt-3 mb-5 px-0">
                        <ul class="pagination">
                            {% if operators.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1">&laquo;</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ operators.previous_page_number }}">Назад</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link">&laquo;</a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link">Назад</a>
                                </li>
                            {% endif %}
                            {% for i in page_range %}
                                {% ifequal i operators.number %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ i }}</span>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                    </li>
                                {% endifequal %}
                            {% endfor %}
                            {% if operators.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ operators.next_page_number }}">Далее</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ operators.paginator.num_pages }}">&raquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link">Далее</a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link">&raquo;</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('.selectize').selectize();
    </script>
{% endblock %}