{% extends 'management/layout.html' %}

{% load common_tags static %}

{% block breadcrumbs %}
    <div><a class="active" href="{% url 'management:operator:index' %}">Операторы</a></div>
    <div>&nbsp;&nbsp;>&nbsp;&nbsp;</div>
    <div class="text-middle text-secondary">Детали Оператора</div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Имя:</th>
                    <th>{{ operator.name }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Дата рождения:</th>
                    <td>{{ operator.birthday }}</td>
                </tr>
                <tr>
                    <th>Место работы:</th>
                    <td>{{ operator.work_place }}</td>
                </tr>
                {% if request.user.is_superuser %}
                    <tr>
                        <th>Процент:</th>
                        <td>{{ operator.percent }} %</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Модель:</th>
                    {% if operator.cammodel %}
                        <td><a class="text-info" href="{% url 'management:cammodel:detail' operator.cammodel.id %}">{{ operator.cammodel }}</a></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Паспорт:</th>
                    {% if operator.passport_scan %}
                        <td><a href="{{ operator.passport_scan.url }}" target="_blank"><img style="width: 15rem; height: 10rem; object-fit: cover" src="{{ operator.passport_scan.url }}"></a></td>
                    {% else %}
                        <td>Отсутствует</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Фото:</th>
                    {% if operator.image %}
                        <td><a href="{{ operator.image.url }}" target="_blank"><img style="width: 15rem; height: 10rem; object-fit: cover" src="{{ operator.image.url }}"></a></td>
                    {% else %}
                        <td>Отсутствует</td>
                    {% endif %}
                </tr>
                </tbody>
            </table>
            <div class="row justify-content-end">
                {% if request.user.is_superuser or request.user.is_staff %}
                    <div class="col-2">
                        <a class="btn btn-block {% if operator.cammodel.filled_today %}btn-secondary{% else %}btn-warning{% endif %}"
                           href="{% url 'management:accounting:createfromoperator' operator.id %}">Ввести Итог</a>
                    </div>
                {% endif %}
                {% if request.user.is_superuser %}
                    <div class="col-md-2">
                        <a class="btn btn-block btn-info mb-2" href="{% url 'management:accounting:operatorstatistics' operator.id %}">Статистика</a>
                    </div>
                    <div class="col-3">
                        <a href="{% url 'management:operator:edit' operator.id %}" class="btn btn-block btn-success">Редактировать</a>
                    </div>
                    <div class="col-2">
                        <a class="btn btn-danger btn-block" href="{% url 'management:operator:remove' operator.id %}">Удалить</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
